html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
}
input, select, button{
    font-size:1.8rem !important;
}
h1{
    font-size:3.5rem;
    text-align:center;
    margin:2% 0;
}
h2{
    font-size:3rem;
    margin:2% 0;
}
table{
    width:70%;
    margin-top:2%;
    margin-left: 15%;
}
.btnColumn{
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}
td{
    margin:2% 0;
}
#rows:nth-child(odd){
    background-color: lightgray;
  }
#columns {
    background-color: rgb(74,74,74);
    color: white;
  }
  #formSubmitButton{
    margin-top: 20px;
    margin-left: 15%;
    padding: 5px 13px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: rgb(16, 115, 16);
    color: white;

  }
  #addAgentButton{
    margin-top: 20px;
    margin-left: 0px;
    padding: 5px 13px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: rgb(16, 115, 16);
    color: white;

  }
  
  #editButton{
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: blue;
    color: white;
  }
  #deleteButton{
    padding: 2px 3px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: red;
    color: white;
  }
  #formCancelButton{
    margin-top: 20px;
    padding: 5px 13px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: red;
    color: white;
  }
  
  #listContainer{
    text-align:center;
  }
  .form-group{
    width: 70%;
    margin: auto;
  }
  #formHeading{
    text-align: center;
  }